#carouselExampleIndicators.carousel.slide.my-4{"data-ride" => "carousel"}
  %ol.carousel-indicators
    - @home_movies.each_with_index do |movie, n|
      %li{class: n == 0 ? 'active' : '', "data-slide-to" => n, "data-target" => "#carouselExampleIndicators"}
        
  .carousel-inner{:role => "listbox"}
    - if @home_movies.present?
      .carousel-item.active
        %img.d-block.img-fluid{alt: @home_movies.first.title, src: @home_movies.first.image_url(:medium)}
      - @home_movies.drop(1).each do |movie|
        .carousel-item
          %img.d-block.img-fluid{alt: movie.title, src: movie.image_url(:medium)}/
            
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next

.row#movies
  = render partial: "movies"
.row.mb-5#paginator
  = paginate @movies, :remote => true
